footer.footer.py-3.text-center.mt-auto  
  hr
  a(href='https://github.com/pablovaccaro35/blog-vaccaro' target='_blank' class='text-center' style='font-size: 48px; color: black;')
    i(class='fa fa-github')      
  p.text-center.text-muted Vaccaro &copy 2019 
